<p>
Здравствуйте, уважаемый {{ username }},
</p>
<p>
Вы получили это сообщение, потому что запросили смену адреса электронной почты
своего аккаунта в нашем <a href="{{ index }}">сервисе</a>.
</p>
<p>
Ваш прежний адрес {{ old }} будет заменён в Вашем профиле на {{ new }}. Для
подтверждения смены адреса в Вашем профиле проследуйте по
<a href="{{ target }}">этой ссылке</a>.
</p>
<p>
Пожалуйста имейте ввиду, что ссылка будет действительна в течение {{ length }}
часов. Если передумаете менять адрес, просто проигнорируйте это сообщение.
Повторный запрос на смену адреса возможен не ранее чем через {{ interval }}
часа.
</p>
<p>
Благодарим Вас за использование нашего сервиса и желаем приятного веб-сёрфинга.
</p>
