<p>
  Здравствуйте, уважаемый {{ username }}.
</p>
<p>
  Вы получили это сообщение, потому что запросили пароль в нашем
  <a href="{{ index }}">сервисе</a>.
  Если ничего подобного Вы не делали, возможно, кто-то ошибочно ввёл Ваш адрес
  в форму запроса пароля, просто проигнорируйте это сообщение.
</p>
<p>
  Для получения пароля и завершения регистрации учётной записи в нашем сервисе
  проследуйте по <a href="{{ target }}">ссылке</a>, которая приведёт Вас к
  регистрационной форме. Заполните эту форму, задайте свой псевдоним в сервисе
  и пароль. В дальнейшем эти данные позволят Вам войти в сервис и получить
  доступ к его возможностям.
</p>
<p>
  Пожалуйста, имейте ввиду, что ссылка будет действительна в течение
  {{ length }} часов, а повторный запрос ссылки на регистрационную форму
  возможен не ранее чем через {{ interval }} часа. Зарегистрированная по ссылке
  учётная запись будет привязана к Вашему адресу электронной почты, пожалуйста
  не передавайте ссылку на регистрационную форму третьим лицам.
  <b>Важное замечание:</b> <i>аккаунты, зарегестрированные на временные e-mail
  адреса, всенепременно будут блокированы в самой ближайшей перспективе.</i>
</p>
<p>
  Благодарим Вас за явно выраженный интерес к нашему сервису и желаем
  приятного веб-сёрфинга.
</p>
