<p>
  Здравствуйте, уважаемый {{ username }}.
</p>
<p>
  Вы получили это сообщение, потому что запросили сброс пароля в нашем
  <a href="{{ index }}">сервисе</a>. Если ничего подобного Вы не делали,
  возможно, кто-то ошибочно ввёл Ваш адрес в форму запроса, просто
  проигнорируйте это сообщение.
</p>
<p>
  Для сброса пароля Вашей учётной записи в нашем сервисе проследуйте по
  <a href="{{ target }}">ссылке</a>, которая приведёт Вас к форме сброса пароля.
  Заполните эту форму и задайте свой новый пароль, с которым Вы сможете войти
  в сервис.
</p>
<p>
  Пожалуйста, имейте ввиду, что ссылка будет действительна в течение
  {{ length }} часов, а повторный запрос ссылки на форму сброса пароля возможен
  не ранее чем через {{ interval }} часа. Пожалуйста, не передавайте ссылку на
  форму сброса пароля третьим лицам, это может привести к полной утере контроля
  над учётной записью.
</p>
<p>
  Благодарим Вас за использование нашего сервиса и желаем приятного
  веб-сёрфинга.
</p>
