DEBUG=True
ASSETS_DEBUG=False
DSN=
USER=newbie
DB=fcodejdev
REDI='redis://localhost:6379/0'
SITE_NAME='Блоги CodeJ'
SITE_DESCRIPTION='Описание сайта для поисковиков'
REQUEST_INTERVAL=0.025
TOKEN_LENGTH=0.025
MAIL_SERVER=smtp.yandex.ru
MAIL_PORT=465
MAIL_USE_SSL=True
MAIL_USERNAME=noreply@codej.ru
MAIL_PASSWORD=######
SUBJECT_PREFIX='[CodeJ] '
SENDER='robot <noreply@codej.ru>'
SECRET_KEY='secret key'
SESSION_LIFETIME=2592000
