<!DOCTYPE html>
<html lang="ru">
  <head>
    {% block metas %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
    {% endblock metas %}

    {% block title_tag %}
      <title>
        {{- request.app.config.get(
          'SITE_NAME') }}: {% block title %}{% endblock title -%}
      </title>
    {% endblock title_tag %}

    {% block styles %}
      <link rel="icon" href="{{ url_for('favicon') }}"
            type="image/vnd.microsoft.icon">
      {% assets filters='cssmin', output='generic/css/vendor.css',
                'vendor/bootstrap/css/bootstrap.css',
                'vendor/bootstrap/css/bootstrap-theme.css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
      {% endassets %}
    {% endblock styles %}

    {% block templates %}
        <script id="baset" type="text/template">
<nav id="navigation" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="logo"
             src="/static/images/logo.png"
             width="28" height="28">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            CodeJ <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/">Блоги</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Действия <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a id="login" href="/#login">Войти</a>
            </li>
            <li>
              <a href="/">Получить пароль</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="main-container">
  {% if flashed %}
    <div class="top-flashed-block">
      {% for message in flashed %}
        <div class="flashed-message
                    {% if not loop.first %}next-block{% endif %}">
          <div class="alert alert-warning">
            <button class="close close-top-flashed" type="button">
              &times;</button>
            {{ message|safe }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
<footer id="footer">
  <div class="container-fluid">
    <div class="footer-block"></div>
    <div class="footer-content">
      <div class="footer-left text-left">
        <img alt="right finger"
             src="/static/images/footer-left.png"
             width="24" height="24">
      </div>
      <div class="footer-center text-center">
        <a id="footer-link"
           href="/">
          <span class="footer-link-text">Блоги CodeJ, <% year %> г.
          </span>
        </a>
      </div>
      <div class="footer-right text-right">
        <img alt="left finger"
             src="/static/images/footer-right.png"
             width="24" height="24">
      </div>
      <div class="footer-bottom"></div>
    </div>
    <div class="footer-bottom"></div>
  </div>
</footer>
        </script>
        {% if not use %}
        <script id="logint" type="text/template">
<div id="loginf" class="form-block content-block">
  <h3>Вход в сервис</h3>
  <div class="today-field"></div>
  <div class="form-help">
    <p>
      Для входа в сервис введите свой логин, пароль и код с картинки,
      нажмите кнопку "Войти в сервис". Логином может быть зарегестрированный
      псевдоним или адрес электронной почты. Форма действительна в течение
      3-х минут. Если код на картинке плохо читается, можно обновить картинку
      кнопкой со стрелками и найти картинку с хорошо читаемым кодом.
      <b>Для справки:</b> код состоит из строчных латинских букв и цифр
      без повторов.
    </p>
  </div>
  <div class="form-form">
    <div class="form-group">
      <div class="form-label text-right">
        <label for="logininput">Логин:</label>
      </div>
      <div class="form-input">
        <input class="form-control"
               id="logininput"
               name="logininput"
               placeholder="введите свой логин"
               required
               type="text">
      </div>
      <div class="footer-bottom"></div>
    </div>
    <div class="form-group">
      <div class="form-label text-right">
        <label for="password">Пароль:</label>
      </div>
      <div class="form-input">
        <input class="form-control"
               id="password"
               name="password"
               placeholder="введите свой пароль"
               required
               type="password">
      </div>
    </div>
    <div class="form-group">
      <div class="form-input checkbox">
        <label>
          <input id="remember_me"
                 name="remember_me"
                 type="checkbox">
          <label for="remember_me">
            Хранить сессию 30 дней
          </label>
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-label captcha-options text-right">
        <button type="button"
                title="обновить картику"
                id="lcaptcha-reload"
                class="btn btn-default">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
      </div>
      <div id="lcaptcha-field" class="form-input captcha-field"
           style="background:url(<% url %>)"></div>
      <div class="footer-bottom"></div>
    </div>
    <div class="form-group">
      <div class="form-label text-right">
        <label for="captcha">Код с картинки:</label>
      </div>
      <div class="form-input">
        <input class="form-control"
               id="lcaptcha"
               placeholder="введите код с картинки"
               required
               type="text">
      </div>
      <div class="footer-bottom"></div>
    </div>
    <div class="form-group hidden">
      <div class="form-input">
        <input class="form-control"
               id="lsuffix"
               required
               type="text"
               value="<% captcha %>">
      </div>
    </div>
    <div class="form-group">
      <div class="form-input">
        <button type="button"
                class="btn btn-primary"
                id="login-submit"
                name="login-submit">Войти в сервис</button>
        <button type="button"
                class="btn btn-info"
                id="login-reg">Получить пароль</button>
      </div>
    </div>
  </div>
</div>
        </script>
        {% endif %}
    {% endblock templates %}
  </head>
  <body>
    {% block scripts %}
      {% assets filters='rjsmin', output='generic/js/vendor.js',
                'vendor/clipboard.js',
                'vendor/jquery-3.6.3.js',
                'vendor/bootstrap/js/bootstrap.js',
                'vendor/mustache.js',
                'vendor/luxon.js',
                'js/custom.js' %}
        <script src="{{ ASSET_URL }}"></script>
      {% endassets %}
    {% endblock scripts %}
  </body>
</html>
