{% extends "base.html" %}

{% block title%}Сначала{% endblock title -%}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/main/index.css',
            'css/base.css',
            'css/next-block.css',
            'css/mc780.css',
            'css/top-flashed.css',
            'css/empty-message.css',
            'css/content-block.css',
            'css/labeled-form.css',
            'css/captcha.css',
            'css/main/index.css' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block templates %}
  {{ super() }}
  <script id="indext" type="text/template">
    <div class="idef alert alert-warning">
      <div class="today-field"></div>
      <div class="message-text">
        Сайт в стадии разработки, попробуйте зайти позже.
      </div>
    </div>
  </script>
  <script id="ealertt" type="text/template">
    <div id="ealert" class="alert alert-danger to-be-hidden">
      <% message %>
    </div>
  </script>
  <script id="rspt" type="text/template">
    <div id="rspf" class="form-block content-block to-be-hidden">
      <h3>Восстановите забытый пароль</h3>
      <div class="today-field"></div>
      <div class="form-help">
        <p>
          Уважаемый <% username %>, здесь Вы можете восстановить свой забытый
          пароль, для этого заполните форму ниже. Введите в соответствующие
          поля Ваш адрес электронной почты, на который Вы получили сообщение
          со ссылкой на эту страницу, придумайте и введите новый пароль,
          повторите его ввод в поле "Повторить" и нажмите кнопку "Обновить
          пароль", будьте внимательны, после обновления пароля Вы сможете
          войти в сервис только с новым паролем. Повторно запросить
          восстановление пароля можно будет не ранее чем через {{ interval }}
          часа.
        </p>
      </div>
      <div class="form-form">
        <form>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="rsaddress">Адрес эл.почты:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="rsaddress"
                     name="rsaddress"
                     placeholder="введите свой адрес электронной почты"
                     required
                     type="text">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="rspassword">Новый пароль:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="rspassword"
                     name="rspassword"
                     placeholder="введите желаемый пароль"
                     required
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="rsconfirm">Повторить:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="rsconfirm"
                     name="rsconfirm"
                     placeholder="повторите пароль"
                     required
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-input">
              <button type="button"
                      class="btn btn-primary btn-block"
                      id="rsp-submit"
                      name="rsp-submit"
                      data-aid="<% aid %>">Обновить пароль</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>
  <script id="crpt" type="text/template">
    <div id="crpf" class="form-block content-block to-be-hidden">
      <h3>Создайте свой пароль</h3>
      <div class="today-field"></div>
      <div class="form-help">
        <p>
          Уважаемый гость, для создания пароля заполните форму ниже.
          Придумайте и введите в соответствующие поля желаемый псевдоним и
          пароль. Пароль нужно ввести второй раз в поле "Повторить".
          Псевдоним может содержать от 3-х до 16-ти символов (латинские
          буквы, буквы русского алфавита, цифры, знак подчёркивания, дефис и
          точка), первый символ псевдонима должен быть латинской или русской
          буквой. Нажмите кнопку "Создать пароль". Будьте внимательны,
          псевдоним и пароль Вам потребуются для входа в сервис, а восстановить
          пароль можно будет не ранее чем через {{ interval }} часa с момента
          запроса регистрационной формы.
        </p>
      </div>
      <div class="form-form">
        <form>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="username">Псевдоним:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="username"
                     name="username"
                     autocomplete="username"
                     placeholder="введите желаемый псевдоним"
                     required
                     type="text">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="crpassword">Пароль:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="crpassword"
                     name="crpassword"
                     placeholder="введите желаемый пароль"
                     autocomplete="new-password"
                     required
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-label text-right">
              <label for="confirmation">Повторить:</label>
            </div>
            <div class="form-input">
              <input class="form-control"
                     id="confirmation"
                     name="confirmation"
                     placeholder="повторите пароль"
                     required
                     autocomplete="new-password"
                     type="password">
            </div>
            <div class="footer-bottom"></div>
          </div>
          <div class="form-group">
            <div class="form-input">
              <button type="button"
                      class="btn btn-primary btn-block"
                      id="crp-submit"
                      name="crp-submit"
                      data-aid="<% aid %>">Создать пароль</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </script>
{% endblock templates %}

{% block scripts %}
  {{ super() }}
  {% assets filters='rjsmin', output='generic/js/main/index.js',
            'js/check-mc.js',
            'js/top-flashed.js',
            'js/render-tf.js',
            'js/adjust-menu.js',
            'js/logout.js',
            'js/rcaptcha-reload.js',
            'js/lcaptcha-reload.js',
            'js/login-submit.js',
            'js/reg-submit.js',
            'js/login-reg.js',
            'js/reg.js',
            'js/login.js',
            'js/parse-hash.js',
            'js/slide-page.js',
            'js/create-password.js',
            'js/create-user.js',
            'js/reset-password.js',
            'js/show-window.js',
            'js/main/index.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
