{% extends "base.html" %}

{% block title%}Сначала{% endblock title -%}

{% block styles %}
  {{ super() }}
  {% assets filters='cssmin', output='generic/css/main/index.css',
            'css/base.css',
            'css/next-block.css',
            'css/mc780.css',
            'css/top-flashed.css',
            'css/empty-message.css',
            'css/content-block.css',
            'css/labeled-form.css',
            'css/captcha.css',
            'css/main/index.css' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock styles %}

{% block templates %}
  {{ super() }}
  <script id="indext" type="text/template">
    <div class="idef alert alert-warning">
      <div class="today-field"></div>
      <div class="message-text">
        Сайт в стадии разработки, попробуйте зайти позже.
      </div>
    </div>
  </script>
{% endblock templates %}

{% block scripts %}
  {{ super() }}
  {% assets filters='rjsmin', output='generic/js/main/index.js',
            'js/check-mc.js',
            'js/top-flashed.js',
            'js/render-tf.js',
            'js/adjust-menu.js',
            'js/logout.js',
            'js/rcaptcha-reload.js',
            'js/lcaptcha-reload.js',
            'js/login-submit.js',
            'js/login-reg.js',
            'js/reg.js',
            'js/login.js',
            'js/show-window.js',
            'js/main/index.js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock scripts %}
